body {
    font-family: Jost;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: black;
    padding-top: 104px;

}
a {
    color: white;
    text-decoration: none;
}



header {
    overflow: hidden;
    position: fixed;
    top: 60px;
    left: 0;

    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 4;
    /* font-size: 32px; */
}

.photos h2 {
    font-size: 24px;
}

header h1 {
   float: left;

}

header,
header h1 {
    transition: all 0.3s ease;
}

header nav {
    float: right; 
    margin-top: 0;
}


header nav a {
    margin-left: 10px;
    transition: border 0.3s ease-in;
    border-bottom: solid 2px rgba(0, 0, 0, 0);
    padding-bottom: 3px;
}

header nav a:hover {
    border-color: #555;
    
}

header nav a.selected {
    border-color: white;
    
}

.photos {
    /* text-align: center; */
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.photo {
    /* display: inline-block; */
    width: 300px;
    margin: 10px;
    vertical-align: top;
    position: relative;
}

.photo img {
    transition: filter 0.3s;
}

.inverted{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.photo:hover .normal {
    filter: grayscale(100%);
}

.inverted:hover {
    filter: grayscale(0%) !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    opacity: 0;

    transition: opacity 0.3s;
    z-index: 2;
}

.photo:hover .overlay {
    opacity: 1;
    
}



.photo h2 {
    position: absolute;
    /* left: -15px;
    top: -15px; */
    font-size: 32px;
    line-height: 1.2;
}


.small {
width: 150px;
}

.large {
    width: 400px;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 1px solid gray; */
    margin-top: 20px;
    bottom: 0;
    
}

footer nav {
    padding-right: 5px;
    }

footer nav a {
    margin-right: 10px;
}

/* .hidden {
    transform: translateY(-100%);
} */

/* .compact h1 {
    width: 32px;
} */

.list a img {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    pointer-events: none;

    transition: opacity 0.3s;
}

.list {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    line-height: 1.2;
    margin-top: 120px;
}

.box{
    height: 100px;
    width: 100%;
    background-color: white;
    margin-bottom: -2%;
}
.list a::after {
    content: '/';
}

.list a:last-child::after {
    content: ''
}

.list a:hover img {
    opacity: 1;
}


.header1{
    position: fixed;
    top: 8px;
    left: 0px;
    z-index: 3;
    overflow: hidden;
    width: 100%;
    font-size: 16px;
    font-variation-settings: "wgth" 800;
}

.header1 h1, .header1 h2 {
    display: flex;
}

h1 span, h2 span{
    width: 150px;
    flex: 0 0 auto;
    display: inline-block;
}

h2 span {
    width: 250px;
}





@media only screen and (max-width: 600px) {
    .box{
        display: none;
    }
    .list a img {
        opacity: 1;
        position: static;
        max-width: auto;
        pointer-events: none;
        transform: translate(0%,0%);
        width: 100%;
        padding: 10px;
    }
    .list a span{
        z-index: 2;
    }
    .list a{
        margin-top: 25px;
        padding: 10px;
    }
    .list a::after{
        content: " ";
    }
}

.white{
    margin-top: 100px;
    background-color: white;
    color: black;
}